<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Trip booking</title>
    <!--Swiper css File-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!--awesome Fonts CDN Link-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!--custom css file-->

    <link rel="stylesheet" href="/stylesheets/style.css">



<body>
    <section class="header">

        <a href="/" class="logo">Check-inn Paradise!</a>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="package">package</a>
            <a href="book">book</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>

    <section class="home">

        <div class="swiper home-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide" style="background-image: url('/images/slide-1.jpg')">
                    <div class="content">
                        <span>travel, explore , dicover</span>
                        <h3>Wanna explore Andaman ?</h3>
                        <a href="/package" class="btn">dicover more</a>
                    </div>
                </div>

                <div class="swiper-slide slide" style="background-image: url('/images/slide-2.jpg')">
                    <div class="content">
                        <h3>Discover the places in andaman</h3>
                        <a href="/package" class="btn">dicover more</a>
                    </div>
                </div>

                <div class="swiper-slide slide" style="background-image: url('/images/slide-3.jpg')">
                    <div class="content">
                        <h3>make your tour worthwhile</h3>
                        <a href="/package" class="btn">dicover more</a>
                    </div>
                </div>

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>



    </section>



    <section class="services">

        <h1 class="heading-title">our services</h1>

        <div class="box-container">
            <div class="box">
                <img src="images/icon-1.png" alt="">
                <h3>adventure</h3>
            </div>

            <div class="box">
                <img src="images/icon-2.png" alt="">
                <h3>tour Guide</h3>
            </div>

            <div class="box">
                <img src="images/icon-3.png" alt="">
                <h3>Trekking</h3>
            </div>

            <div class="box">
                <img src="images/icon-4.png" alt="">
                <h3>camp fire</h3>
            </div>

            <div class="box">
                <img src="images/icon-5.png" alt="">
                <h3>off road</h3>
            </div>

            <div class="box">
                <img src="images/icon-6.png" alt="">
                <h3>camping</h3>
            </div>
        </div>
    </section>

    <section class="home-about">
        
        <div class="image">
            <img src="/images/about-img.jpg" alt="">
        </div>

        <div class="content">
            <h3>about us</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quisquam quidem recusandae repellat,
                corporis labore sapiente ducimus ratione, iusto nemo impedit ad in tenetur! Ea voluptatem omnis
                perferendis voluptas harum!</p>
            <a href="/about" class="btn">read more</a>
        </div>

    </section>

    <section class="home-packages">

        <h1 class="heading">Our Packages</h1>

        <div class="box-container">

                <div class="box">
                    <div class="image">
                        <img src="/images/img-1.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>Adventure & Tour</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                        <a href="/book" class="btn">Book Now</a>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="/images/img-2.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>Adventure & Tour</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                        <a href="/book" class="btn">Book Now</a>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="/images/img-3.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>Adventure & Tour</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                        <a href="/book" class="btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="load-more"><a href="/package" class="btn">Load more</a></div>
    </section>

    <section class="home-offer">
        <div class="content">
            <h3>up to 50%</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="/book" class="-btn">book now</a>
        </div>
    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick link</h3>
                <a href="/"> <i class="fas fa-angle-right"></i> home</a>
                <a href="about"> <i class="fas fa-angle-right"></i> about</a>
                <a href="package"> <i class="fas fa-angle-right"></i> package</a>
                <a href="book"> <i class="fas fa-angle-right"></i> book</a>
            </div>

            <div class="box">
                <h3>quick link</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask question</a>
                <a href="/about"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="/about"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="/terms"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 9531931333 , +91 7063928678</a>
                <a href="#"><i class="fas fa-envelope"></i>checkinnparadise@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Tamil Nadu ,India - 600033</a>
            </div>

            <div class="box">
                <h3>Follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
            </div>
            
        </div>

        <div class="credit">credit by <span>Ahmed Bilal </span>|| all rights reserved! </div>

    </section>


    <div class="heading" style="background:url(/images/2.jpg) no-repeat"></div>























    <!--swiper js link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".home-slider", {
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });</script>

    <!--custom js File-->
    <script src="/javascripts/script.js"></script>

</body>

</html>