<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/pack.css">
</head>

<body>


    <section class="header">

        <a href="/" class="logo">Check-inn Paradise!</a>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="package">package</a>
            <a href="book">book</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>







    <section class="pack">
        <div class="box">
            <h1>Greetings from Riya ANDAMAN tour operator!!!
                ISLAND ADVENTURES ANDAMAN</h1>
            <p>
                When travellers have Andaman on their vacation list, most of them are inclined towards covering almost everything that can be practically executed in their specified duration. So here comes the uniquely customized itinerary which is the first choice of such travellers. Hop from Port Blair to Havelock to Neil Island and explore the beauties brought to you by the nature right there.
               </p><br><br>

            <h2>FAMILY PACKAGE DETAILS 6 DAYS AND 5 NIGHTS  </h2>
            <p style="font-size: 2rem; color: var(--main-color);"><span>No. of room:</span> 2 bed rooms</p><br>
            <p><span>No. Of PAX:<span> 4 pax</p><br>
            <p><span>Meal plan:<span>CP (Breakfast)</p><br>
            <p><span>PACKAGE CODE:<span>“Family outing”</p><br>
            <h2><span>FAMILY PACKAGES JUST FOR</span> –22555/-(Per Person) </h2>    
                
            <br>

    
            <h1 style="color: red;">Day 1: Airport pickup. Cellular jail & cellular jail light and sound show</h1>
            <br>
            <br>
            <p>Upon arrival in Port Blair in the morning/afternoon, our chauffer will be waiting outside with a placard of your name on it. You will be taken to your hotel to relax and later taken to cellular jail previously known as “Kaala Pani”. Enjoy a beautiful Light and sound show in cellular jail. The prison was used by British govt. to exile Indian political leader of freedom struggle. Overnight stay at Port Blair.</p>
            
            <h1 style="color: red;">Day 2: Trip to Ross Island and Northbay Island (Boat trip)</h1>

            <br>

            <p>Netaji Subhas Chandra Bose Island previously known as Ross Island. The historic Ruins are a tourist attraction here. Spotted dears and peacock are mostly found here. The iconic light house of North Bay can be seen on 20 rupees note of Indian currency. Water activity such as Scuba diving, snorkeling, glass bottom boat and many more can be done there. Overnight stay at Port Blair. 
                </p>

            <h1 style="color: red;">Day 3: Port Blair to Havelock (Cruise ride) and Radha Nagar beach</h1>

                <br>

            <p>Early/late morning you depart from Port Blair on a Cruise/ferry for Havelock (Swaraj Dweep) which is India’s must visit destination in Andaman Island, upon reaching Havelock Island now known as Swaraj dweep our representative will pick you up and drop you at your hotel/resort After lunch our trip begins to Asia’s best beach Radha Nagar beach. We prefer you choose a beach side hotel/resort. Overnight stay at Havelock.</p>


                <h1 style="color: red;"> Day 4: Havelock to Neil Island in Cruise Later trip to Bharatpur, Laxmanpur beach and Natural rock formation</h1>
                <br>

                <p>Check out from your respective hotel in Havelock Island and board a cruise to Neil Island upon arrival our representative will take you to your respective hotel/resort for checkin. Later visit Bharatpur,Laxmanpur and Natural rock formation. Overnight stay at Neil Island </p>

                <h1 style="color: red;">Day 5: Neil to Port Blair in cruise </h1>
                <br>
                <p>Check out from your respective hotel/resort in Neil and board a cruise to Port Blair upon arrival at Port Blair our representative will take you to your respective hotel/resort in Port Blair to check in. Unwind and relax. Overnight stay at Port Blair.</p>

                <h1 style="color: red;">Day 6: Depature from Port Blair</h1><br>
                <p>With love & Memory’s. Hope we meet again to serve you and your family.</p>

                    <br>
                    <br>
                    <h2>includes :</h2>
                    <li style="font-size: large;">Accomodation in hotel/resort as provided in itinerary at Port Blair Havelock and Neil with breakfast and all taxes.</li>
                    <li style="font-size: large;">Sight seeing by Pvt. Ac cab (Non Sharing)</li>
                    <li style="font-size: large;">Cruise ticket for Island transfer</li>
                    <li style="font-size: large;">All necessary entry ticket and permits</li>
                    <li style="font-size: large;">All services and taxes</li>
                   

                    <br>
                    <br>
                    
                    <h2>Does Not includes :</h2><br>
                    <li style="font-size: large;">Flight ticket not included. We recommend you to book your own flight ticket as it can be based on your flexibility and can be cheap. But still if you want us to book we can assist you in booking.
                    </li>
                    <li style="font-size: large;">Expenses like personal nature, laundry, telephone bill, room service, alcoholic beverages, minibar charges,etc</li>
                    <li style="font-size: large;">Extra usage of vehicle other than mentioned in the package.</li>
                    <li style="font-size: large;">Professional camera ticket are not included</li>
                    <li style="font-size: large;">Mandatory Meal on 14th Feb, 24th/25th December and 31st December is not Included. This amount will be charged extra if guests are travelling during these dates</li>

                    <br><br><a href="/book" class="btn">book now</a>

        </div>
    </section>







    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick link</h3>
                <a href="/"> <i class="fas fa-angle-right"></i> home</a>
                <a href="about"> <i class="fas fa-angle-right"></i> about</a>
                <a href="package"> <i class="fas fa-angle-right"></i> package</a>
                <a href="book"> <i class="fas fa-angle-right"></i> book</a>
            </div>

            <div class="box">
                <h3>quick link</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask question</a>
                <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 73057-83768</a>
                <a href="#"><i class="fas fa-envelope"></i> rffm4x@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Tamil Nadu ,India - 600033</a>
            </div>

            <div class="box">
                <h3>Follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>

        </div>

        <div class="credit">credit by <span>Ahmed Bilal </span>|| all rights reserved! </div>

    </section>



    <!--swiper js link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--custom js File-->
    <script src="/javascripts/script.js"></script>
</body>

</html>