<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/pack.css">
</head>

<body>


    <section class="header">

        <a href="/" class="logo">Check-inn Paradise!</a>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="package">package</a>
            <a href="book">book</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>







    <section class="pack">
        <div class="box">
            <h1>ISLAND ADVENTURES ANDAMAN</h1>
            <p>When travellers have Andaman on their vacation list, most of them are inclined towards
                covering almost everything that can be practically executed in their specified duration. So here
                comes the uniquely customized itinerary which is the first choice of such travellers. Hop from
                Port Blair to Havelock to Neil Island and explore the beauties brought to you by the nature right
                there. Enjoy the cruise rides across these islands in this Island hopping package covering
                duration of 4 Nights and 5 Days.</p><br><br>
            <h2>FAMILY PACKAGE DETAILS 4 NIGHTS AND 5 DAYS</h2>
            <p><span>No. Of PAX:<span> 4 pax</p><br>
            <p><span>Meal plan:<span>CP (Breakfast)</p><br>
            <p><span>PACKAGE CODE:<span>“Family outing”</p><br>
            <h2><span>FAMILY PACKAGES JUST FOR</span> –14555/-(Per Person)</h2>    
                
            <br>
            <h1 style="color:rgb(68, 79, 235);">STUNNING ANDAMAN PACKAGE</h1><br>
            <span style="color: red; font-size: 3rem;">04 Nights 05 Days </span><br>
            <h2> (2 Nights Port Blair / 1Nights Havelock/ 1 Night Neil)</h2>
            <br>
            <p>Destinations Covered: PORT BLAIR CITY TOUR - RADHA NAGAR BEACH (HAVELOCK
                ISLAND / SWARAJ DWEEP) - ELEPHANT BEACH – NEIL ISLAND - SAGARIKA
                EMPORIUM.</p><br>

            <h1> DAY 1: WELCOME TO ANDAMAN. MEET OUR TOUR
                REPRESENTATIVE ON ARRIVAL AND TRANSFER TO THE HOTEL FOR
                CHECK-IN AFTER LUNCH SIGHTSEEING</h1>
            <br><br>
            <h1 style="color: red;">CITY TOUR</h1>
            <p>Proceed for a sightseeing City tour, cellular jail Move out for Cellular Jail, carbines
                cove beach, and in the evening witness Light and Sound Show at Cellular Jail - the
                heroic saga of the Indian freedom struggle is brought alive in the show. Overnight
                stay at Port Blair</p>
            <h1>DAY 2: PORTBLAIR TO HAVELOCK, YOU WILL BE ESCORTED TO
                HARBOR TO BOARD BY CRUISE WHICH WILL TAKE YOU TO
                HAVELOCK.</h1>
            <br>
            <br>
            <h1 style="color: red;">HAVELOCK ISLAND</h1>
            <p>Havelock is a picturesque natural paradise with beautiful white sandy beaches 
                and crystal clear transparent waters, rich coral reefs and lush green forest. The 
                island offers state-of-the-art facilities for snorkeling and scuba diving. It is one of 
                the populated islands in the Andaman
                group with an area of 113 sq. km. and is located 68 km of north-east of Port Blair.
                RADHA NAGAR BEACH
                Radha Nagar beach lies on the south coast of Havelock some 12 kilometers from 
                the island ferry pier. Radha Nagar is a grade a beach of approaching two 
                kilometers and an average width of 30 to 40 meters. The sand is white coral, very 
                fine in grain. The beach has a gentle gradient of around 1:20 and continues out 
                100 meters. South facing, the beach has excellent exposure and is not subject to 
                shading which would reduce its attraction for sunbathing. The ends of the beach 
                are contained by rocky outcrops which provide some variety to the littoral. The 
                quality of water Radha Nagar beach is exceptionally calm and clear. There is very 
                little wave action and consequently almost no turbidly in the water even along 
                the surf line.
                Overnight stay at Havelock
                </p>
            <h1>DAY 3: HAVELOCK TO NEIL ISLAND, CHECK - OUT FROM THE HOTEL, 
                AND TRANSFER TO THE HAVELOCK HARBOR TO BOARD A FERRY
                WHICH WILL TAKE YOU TO NEIL ISLAND.</h1>
                <br>
                <br>
                <h1 style="color: red;">NEIL ISLAND</h1>
            <p>Neil is a tiny but beautiful island located 37 kms. To the south of the Andaman 
                Islands with unexplored coral reefs, brilliant bio-diversity, white sandy beaches 
                tropical forest and vegetation, it is one of the hot tourist spots in the Andaman.
                Neil Island is known as the „vegetable bowl‟ of the Andaman. The settlers named 
                the beaches after mythical characters of the epic Ramayana (Bharatpur, 
                Laxmanpur, Sitapur, Ramnagar etc.) The island, with its very relaxed vibes and 
                long, deserted beaches is a place to chill out after the “bustle” of Havelock. The 
                widest part of the island is about 5 km in length. You can walk the whole island in 
                about two hours.
                BHARATPUR BEACH, NATURAL BRIDGE
                Neil Island is known for its natural wonders, especially the beaches. A trip to three 
                such beaches (including one with a natural bridge) .One starts with visiting the 
                natural rock formation or the Bharatpur beach, moves on to the next point and 
                then ends the day with a view of the sun dipping down at the gorgeous 
                Lakshmanpur beach. Have snorkeling and scuba diving.
                Overnight stay at Neil Island
                </p>
            <h1> DAY 4: NEIL ISLAND TO PORTBLAIR WE WILL START OUR RETURN 
                JOURNEY TO PORT BLAIR ENJOYING THE SIGHT SOME TIME 
                ACCOMPANIED BY DOLPHINS AND FLYING FISHES SWIMMING 
                ALONG THE BOAT.</h1>
                <br>
                <br>
                <h1 style="color: red;">CITY TOUR</h1>
            <p>Visit the Fisheries Museum, anthropological museum, water Sports complex, 
                Joggers Park.
                SAGARIKA EMPORIUM
                This is an emporium for wooden handicrafts managed by the government in Port 
                Blair. Splendid varieties of furniture, beautiful wooden dolls, small, chairs, 
                wooden vessels, shell ornaments, wooden walking sticks and ornamental lamps 
                are exhibited. It is a fair price shop.
                Overnight stay at Port Blair</p>
            <h1>DAY 5: DEPART - CHECK OUT FORM THE HOTEL AND we will drop 
                you TO PORT BLAIR AIRPORT / HARBOUR FOR YOUR ONWARD 
                JOURNEY, BACK TO HOME WITH WONDERFUL AND SWEET 
                MEMORIES.</h1>
                <br>
                <br>
                <h1 style="color: red;">BACK TO HOME WITH HAPPY MEMORIES</h1>

                
                    <h2>SCUBA DIVING:</h2>
                    <p>
                    The exciting experience of Scuba diving is a major tourist attraction. One can see the fascinating 
                    marine life among the world of amazing water bodies, colorful fishes and amazing corals. One 
                    can explore the wonders of scuba diving and can get the rare experience mixed with adventure. 
                    However, Diving in Andaman & Nicobar Islands is still in its infancy. The Scuba Diving centers 
                    have all the facilities and necessary equipment for a great experience of scuba diving. Adding to 
                    this there are many skilled trainers who can help the tourists in getting into the deep of the</p> <br><br> 
                    <h2>SEA WALKING:</h2>
                    <p>
                    The Sea walk is experienced under the strict supervision and guidance of highly trained and 
                    internationally certified instructors who are with you throughout the entire experience. The tour 
                    begins with a boat ride transferring you onto a pontoon which is anchored of the coast, 
                    measuring 1600sq ft. with elaborate facilities such as changing rooms, lockers, wash rooms etc. 
                    At this point the guides brief the walkers on basic hand gestures, safety procedures and the actual 
                    steps to be taken during the sea walk.  Now everyone can walk under the sea and experience the 
                    Fascinating under Water World.</p><br>
                    <h2>RIYA ANDAMAN TOUR OPERATOR RATES:</h2><br>
                    <li style="font-size: large;">Parasailing: 3500/- Per Person </li>
                    <li style="font-size: large;">Sea Walk: 3500/- Per head </li>
                    <li style="font-size: large;">Scuba diving: 3500/- Per head with Photo </li>
                    <li style="font-size: large;"> Videos Scuba diving: 3000/- Per head with Photo, Videos (ON ADVANCE BOOKING)</li>
                    <li style="font-size: large;">Semi-Submarine: 2000/- Per Person</li>
                    <li style="font-size: large;">Semi-Submarine: 2000/- Per Person</li>
                    <li style="font-size: large;">Jet Ski: 600/- per head</li>
                    <li style="font-size: large;">Glass bottom boat: 800/- per head</li>
                    <li style="font-size: large;">Banana ride / Speed boat: 600/- per head</li>
                    <li style="font-size: large;">Two Wheeler on Rent: 500/- (6AM to 6 PM)</li>
                    <li style="font-size: large;">Birthday cake Rs2000/- ½ kg with beach side decoration and welcome drinks</li>
                    <br>
                    <h2>HONEYMOON SPECIAL:</h2>
                    <li style="font-size: large;">Candle light dinner in beach side Rs 3500 to 6500/- Per couple per night depends upon 
                        the hotel</li>
                    <li style="font-size: large;">Flower bed decoration Rs 2000 to 2600/-- per night depends upon the hotel</li>
                    <li style="font-size: large;">Room decoration Rs 1500 to 2000/- per night depends upon the hote</li>
                    <li style="font-size: large;">Honey moon cake Rs 1050/- ½ kg with flower bouquet and fruit juice on arrival</li>
                    <br><br>
                    <h1>We hope you will find all the above to be in order,
                        please feel free to contact us for any further Assistance / 
                        information</h1>
                        <br><br>
                    <h2>PACKAGE INCLUDES:</h2>

                    <li style="font-size: large;">Meet and Greet by our Tour Executives on arrival at Port Blair Airport. </li>
                    <li style="font-size: large;">On arrival in hotel welcome drinks non-Alcohol</li>
                    <li style="font-size: large;">All Transfers and Sightseeing in as per the Above-itinerary by private A/C Car.</li>
                    <li style="font-size: large;">Accommodation A/C Room on twin sharing basis for 02 nights at Port Blair.</li>
                    <li style="font-size: large;">Accommodation A/C Cottage on twin sharing basis for 02 nights at Havelock Island.</li>
                    <li style="font-size: large;">Accommodation A/C Cottage on twin sharing basis for 01 nights at Neil Island. </li>
                    <li style="font-size: large;">Daily (CP plan) Breakfast complimentary in all the packages.</li> 
                    <li style="font-size: large;">Daily 1 water bottle at hotel room. </li>
                    <li style="font-size: large;">Entry permits, entry tickets, boat tickets wherever required. </li>
                    <li style="font-size: large;">Assistance at all arrival and departure points wherever required. </li>
                    <li style="font-size: large;">Havelock to & from by Private cruise. Speed Boat. </li>
                    <li style="font-size: large;">Hotel GST.</li>

                    <br><br><a href="/book" class="btn">book now</a>

        </div>
    </section>







    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick link</h3>
                <a href="/"> <i class="fas fa-angle-right"></i> home</a>
                <a href="about"> <i class="fas fa-angle-right"></i> about</a>
                <a href="package"> <i class="fas fa-angle-right"></i> package</a>
                <a href="book"> <i class="fas fa-angle-right"></i> book</a>
            </div>

            <div class="box">
                <h3>quick link</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask question</a>
                <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 73057-83768</a>
                <a href="#"><i class="fas fa-envelope"></i> rffm4x@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Tamil Nadu ,India - 600033</a>
            </div>

            <div class="box">
                <h3>Follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>

        </div>

        <div class="credit">credit by <span>Ahmed Bilal </span>|| all rights reserved! </div>

    </section>



    <!--swiper js link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--custom js File-->
    <script src="/javascripts/script.js"></script>
</body>

</html>