<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/pack.css">
</head>

<body>


    <section class="header">

        <a href="/" class="logo">Check-inn Paradise!</a>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="package">package</a>
            <a href="book">book</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>







    <section class="pack">
        <div class="box">
            <h1>Greetings from Riya ANDAMAN tour operator!!!</h1>
            <p>
                When travellers have Andaman on their vacation list, most of them are inclined 
towards covering almost everything that can be practically executed in their specified 
duration. So here comes the uniquely customized itinerary which is the first choice of 
such travellers. Hop from Port Blair to Havelock to Neil Island and explore the 
beauties brought to you by the nature right there. Enjoy the cruise rides across these 
islands in this Island hopping package covering duration of 4 Nights and 5 Days
               </p><br><br>

            <h2>COUPLE PACKAGE DETAILS 4 NIGHTS AND 5 DAYS </h2>
            <p><span>No. Of PAX:<span> 2 pax</p><br>
            <p><span>Meal plan:<span>CP (Breakfast)</p><br>
            <p><span>PACKAGE CODE:<span>“Couple outing”</p><br>
            <h2><span>FAMILY PACKAGES JUST FOR</span> –19,999/-(Per Person) </h2>    
                
            <br>
            <h1 style="color:rgb(68, 79, 235);">STUNNING ANDAMAN PACKAGE</h1><br>
            <br>
            <span style="color: red; font-size: 3rem;">04 Nights 05 Days </span><br>
            <h2> (2 Nights Port Blair / 2Nights Havelock)</h2><br>
            <p>Destinations Covered: PORT BLAIR CITY TOUR –ROSS ISLAND/ NORTHBAY/RADHA NAGAR BEACH (HAVELOCK ISLAND / SWARAJ DWEEP) - 
                ELEPHANT BEACH – NEIL ISLAND</p><br>
            <br>

            <h1> DAY 1: WELCOME TO ANDAMAN. MEET OUR TOUR
                REPRESENTATIVE ON ARRIVAL AND TRANSFER TO THE HOTEL FOR
                CHECK-IN AFTER LUNCH SIGHTSEEING</h1>
            <br><br>
            <h1 style="color: red;">CITY TOUR</h1>
            <p>Proceed for a sightseeing City tour, cellular jail Move out for Cellular Jail, 
                carbines cove beach, and in the evening witness Light and Sound Show at Cellular 
                Jail – the heroic saga of the Indian freedom struggle is brought alive in the show. 
                overnight stay at Port Blair </p>


            <h1>DAY 2: Ross and North Bay Island Boat Ride TOUR</h1>
            <br>
            <br>

            <p>Let's get back in time to visit the first Administrative settlement of the 
                Britishers in the Andaman Islands, Ross Island. Earlier, said as the Paris of the past. 
                This island today has ruins of all the luxury the Britishers had during that time. 
                Visit this amazing destination and move forward on a boat to visit the Coral Island of 
                Port Blair, North Bay Island. 
                Infringe with rich marine life this island is the other most visited destination in 
                Andaman. Scuba Diving, Sea Walk, Snorkeling and Glass boat ride can be done here. 
                Upon Return from these famous destinations rest and relax. 
                </p>
                <br>
                <br>

            <h1>DAY 3: Port Blair To Havelock (Cruise Ride) and Radha Nagar Beach</h1>
                <br>


            <p>Early/late morning you depart from Port Blair on a Cruise/ferry for Havelock 
                (Swaraj Dweep) which is India’s must visit destination in Andaman Island, upon 
                reaching Havelock Island now known as Swaraj dweep our representative will pick 
                you up and drop you at your hotel/resort After lunch our trip begins to Asia’s best 
                beach Radha Nagar beach. We prefer you choose a beach side hotel/resort. Overnight 
                stay at Havelock.</p>
                <br>
                <br>
            <h1> DAY 4: Elephant Beach</h1>
                <br>
                <br>

            <p>Next Day morning have your buffet Breakfast (complementary) and check-out 
                from the hotel/resort vehicle will transfer you to the jetty. 
                From there board ferry which will take approx. 25 min to reach Elephant 
                beach enjoy a complimentary snorkelling on your way to Elephant beach. 
                Vehicle will take you to the hotel, check-in and little relax……. 
                Havelock to Port Blair (Cruise ride) in evening 4pm. After reaching Port 
                Blair our representative will pick you up and drop you to hotel/resort where you can 
                unwind and relax.</p>
                    <br>
                    <br>
                    <h1> DAY 5: Depart -Check Out From the Hotel And We Will Drop You To Port Blair Airport / Harbour For Your Onward Journey , Back To Home With Wonderful And Sweet Memories</h1>
                    <br>
                    <br>
                    <h2>Package includes :</h2>
                    <li style="font-size: large;">Meet and Greet by our Tour Executives on arrival at Port Blair Airport. </li>
                    <li style="font-size: large;"> On arrival in hotel welcome drinks non-Alcohol </li>
                    <li style="font-size: large;">All Transfers and Sightseeing in as per the Above-itinerary by private A/C Car.</li>
                    <li style="font-size: large;">Accommodation A/C Room on twin sharing basis for 02 nights at Port Blair.</li>
                    <li style="font-size: large;">Accommodation A/C Cottage on twin sharing basis for 02 nights at Havelock 
                        Island</li>
                    <li style="font-size: large;">Accommodation A/C Cottage on twin sharing basis for 01 nights at Neil Island.</li>
                    <li style="font-size: large;">Daily (CP plan) Breakfast complimentary in all the packages</li>
                    <li style="font-size: large;">Daily 1 water bottle at hotel room.</li>
                    <li style="font-size: large;">Entry permits, entry tickets, boat tickets wherever required.</li>
                    <li style="font-size: large;">Assistance at all arrival and departure points wherever required.</li>
                    <li style="font-size: large;">Havelock to & from by Private cruise. Speed Boat.</li>
                    <li style="font-size: large;"> Hotel GST.</li>
                   

                    <br>
                    <br>
                    
                    <h2>Does Not includes :</h2><br>
                    <li style="font-size: large;">All kind of personal expenses such as tips, laundry, telephone bills and beverages.</li>
                    <li style="font-size: large;">It also does not include any meals unless and otherwise specifically mentioned</li>
                    <li style="font-size: large;">Domestic or International Airfare.  Optional, suggested or unspecified activities.</li>
                    <li style="font-size: large;">It also not includes Undersea Walk (Sea walking), Scuba Diving and Game</li>
                    <li style="font-size: large;">Package GST 5%</li>

                    <br><br><a href="/book" class="btn">book now</a>

        </div>
    </section>







    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick link</h3>
                <a href="/"> <i class="fas fa-angle-right"></i> home</a>
                <a href="about"> <i class="fas fa-angle-right"></i> about</a>
                <a href="package"> <i class="fas fa-angle-right"></i> package</a>
                <a href="book"> <i class="fas fa-angle-right"></i> book</a>
            </div>

            <div class="box">
                <h3>quick link</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask question</a>
                <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 73057-83768</a>
                <a href="#"><i class="fas fa-envelope"></i> rffm4x@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Tamil Nadu ,India - 600033</a>
            </div>

            <div class="box">
                <h3>Follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>

        </div>

        <div class="credit">credit by <span>Ahmed Bilal </span>|| all rights reserved! </div>

    </section>



    <!--swiper js link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--custom js File-->
    <script src="/javascripts/script.js"></script>
</body>

</html>