<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/pack.css">
</head>

<body>


    <section class="header">

        <a href="/" class="logo">Check-inn Paradise!</a>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="package">package</a>
            <a href="book">book</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>







    <section class="pack">
        <div class="box">
            <h1>Greetings from Check-inn Paradise!!! </h1>
            <p>When travellers have Andaman on their vacation list, most of them are inclined towards covering 
                almost everything that can be practically executed in their specified duration. So here comes the 
                uniquely customized itinerary which is the first choice of such travellers. Hop from Port Blair to 
                Havelock to Neil Island and explore the beauties brought to you by the nature right there. Enjoy the 
                cruise rides across these islands in this Island hopping package covering duration of 6 Nights and 7 
                Days.</p><br><br>
            <h2>FAMILY PACKAGE DETAILS 6 NIGHTS AND 7 DAYS</h2>
            <p style="font-size: 2rem; color: var(--main-color);"><span>No. of room:</span> 2 bed rooms</p><br>
            <p><span>No. Of PAX:<span> 4 pax</p><br>
            <p><span>Meal plan:<span>CP (Breakfast)</p><br>
            <p><span>PACKAGE CODE:<span>“Family outing”</p><br>
            <h2><span>FAMILY PACKAGES JUST FOR</span> –21555/-(Per Person) </h2>    
                
            <br>
            <h1 style="color:rgb(68, 79, 235);">STUNNING ANDAMAN PACKAGE</h1><br>
            <span style="color: red; font-size: 3rem;">06 Nights 07 Days </span><br>
            <h2> (4 Nights Port Blair / 1Nights Havelock/ 1 Night Neil)</h2>
            <br>
            <p>Destinations Covered: PORT BLAIR CITY TOUR - RADHA NAGAR BEACH (HAVELOCK ISLAND / SWARAJ 
                DWEEP) - ELEPHANT BEACH – NEIL ISLAND - SAGARIKA EMPORIUM</p><br>

            <h1 style="color: red;"> Day 1: Airport Pickup. Later visit Cellular Jail and Light and Sound Show</h1>
            <br><br>
            <p>Arrive at Port Blair in the morning/afternoon by flight and our representative will be 
                waiting outside holding a placard with your name on it. You will be taken to your hotel 
                where you check-in. Post lunch we proceed to one of the most visited attractions in the 
                Andaman Islands, Cellular Jail. This jail before India's Independence hosted Indian 
                freedom fighters as prisoners in the Andaman Islands. 
                Today, this jail stands as a national memorial. Visit to this historic attraction and know 
                about the rich history of the Andaman Islands. Post completion of this trip, we drop you 
                back to your hotel.</p>
            <h1 style="color: red;">DAY 2: PORTBLAIR TO HAVELOCK, YOU WILL BE ESCORTED TO
                HARBOR TO BOARD BY CRUISE WHICH WILL TAKE YOU TO
                HAVELOCK.</h1>
            <br>
            <p>Let's get back in time to visit the first Administrative settlement of the Britishers in the 
                Andaman Islands, Ross Island. Earlier, said as the Paris of the past. This island today has 
                ruins of all the luxury the Britishers had during that time. 
                Visit this amazing destination and move forward on a boat to visit the Coral Island of Port 
                Blair, North Bay Island.Infringe with rich marine life this island is the other most visited destination in Andaman. 
                Scuba Diving, Sea Walk, Snorkelling and Glass boat ride can be done here. Upon Return from 
                these famous destinations rest and relax. 
                </p>

            <h1 style="color: red;">DAY 3: PORTBLAIR TO HAVELOCK, YOU WILL BE ESCORTED TO HARBOR TO 
                BOARD BY CRUISE WHICH WILL TAKE YOU TO HAVELOCK. </h1>
                <br>

            <p>HAVELOCK ISLAND Havelock is a picturesque natural paradise with beautiful white sandy beaches 
                and crystal clear transparent waters, rich coral reefs and lush green forest. The island offers state-ofthe-art facilities for snorkelling and scuba diving. It is one of the populated islands in the Andaman 
                group with an area of 113 sq. km. and is located 68 km of north-east of Port Blair. RADHA NAGAR 
                BEACH Radha Nagar beach lies on the south coast of Havelock some 12 kilometers from the island 
                ferry pier. Radha Nagar is a grade a beach of approaching two kilometers and an average width of 30 
                to 40 meters. The sand is white coral, very fine in grain. The beach has a gentle gradient of around 
                1:20 and continues out 100 meters. South facing, the beach has excellent exposure and is not 
                subject to shading which would reduce its attraction for sunbathing. The ends of the beach are 
                contained by rocky outcrops which provide some variety to the littoral. The quality of water Radha 
                Nagar beach is exceptionally calm and clear. There is very little wave action and consequently almost 
                no turbidly in the water even along the surf line. Overnight stay at Havelock</p>


                <h1 style="color: red;"> DAY 4: HAVELOCK TO NEIL ISLAND, CHECK - OUT FROM THE HOTEL, AND 
                TRANSFER TO THE HAVELOCK HARBOR TO BOARD A FERRY WHICH WILL 
                TAKE YOU TO NEIL ISLAND. </h1>
                <br>

                <p>NEIL ISLAND Neil is a tiny but beautiful island located 37 kms. To the south of the Andaman Islands 
                    with unexplored coral reefs, brilliant bio-diversity, white sandy beaches tropical forest and 
                    vegetation, it is one of the hot tourist spots in the Andaman. Neil Island is known as the „vegetable 
                    bowl‟ of the Andaman. The settlers named the beaches after mythical characters of the epic 
                    Ramayana (Bharatpur, Laxmanpur, Sitapur, Ramnagar etc.) The island, with its very relaxed vibes and 
                    long, deserted beaches is a place to chill out after the “bustle” of Havelock. The widest part of the 
                    island is about 5 km in length. You can walk the whole island in about two hours. BHARATPUR 
                    BEACH, NATURAL BRIDGE Neil Island is known for its natural wonders, especially the beaches. A trip 
                    to three such beaches (including one with a natural bridge) .One starts with visiting the natural rock 
                    formation or the Bharatpur beach, moves on to the next point and then ends the day with a view of 
                    the sun dipping down at the gorgeous Lakshmanpur beach. Have snorkeling and scuba diving. 
                    Overnight stay at Neil Island. </p>

                <h1 style="color: red;">DAY 5: NEIL ISLAND TO PORTBLAIR WE WILL START OUR RETURN JOURNEY 
                    TO PORT BLAIR ENJOYING THE SIGHT SOME TIME ACCOMPANIED BY 
                    DOLPHINS AND FLYING FISHES SWIMMING ALONG THE BOAT. CITY TOUR</h1>
                <br>
                <p>Visit the Fisheries Museum, anthropological museum, water Sports complex, Joggers Park. 
                    SAGARIKA EMPORIUM 
                    This is an emporium for wooden handicrafts managed by the government in Port Blair. Splendid 
                    varieties of furniture, beautiful wooden dolls, small, chairs, wooden vessels, shell ornaments, 
                    wooden walking sticks and ornamental lamps are exhibited. It is a fair price shop. Overnight stay at 
                    Port Blair.</p>

                <h1 style="color: red;">Day 6 - Limestone Caves and Mangrove Boat Ride</h1><br>
                <p>Depart to Baratang Island by road through the dense tropical forest and Jarawa Tribal 
                    reserve in a convoy. Often you might see a member of the Jarawa Tribe while passing 
                    through the tribal reserve. At the end of this forest journey you would reach Baratang jetty. 
                    Lunch service is available to cross the sea bay. Enjoy the breathtaking fiber boat ride 
                    through a fascinating Mangrove drive, which leads to the start point of the trek to 
                    Limestone caves. Trek through dense forest to reach the Limestone Cave. Made up of the 
                    mineral calcite (calcium carbonate) the cave contains beautiful cave formation. </p>
                
                <h1 style="color: red;">Day 7: Drop to the Airport </h1>
                <p>Check out from the hotel and proceed to the airport to return home with sweet memories of 
                    this exotic destination. 
                    Do note that hotels have an early check-out time. Guest will need to keep their luggage in 
                    the reception kiosk if your scheduled flight is in the afternoon. If you wish to visit any 
                    attraction during your free time then do let us know. </p>

                    <br>
                    <br>
                    <h2>includes :</h2>
                    <li style="font-size: large;">Island Tour</li>
                    <li style="font-size: large;">Pickup Drop</li>
                    <li style="font-size: large;">Breakfast</li>
                    <li style="font-size: large;">Hotel</li>
                    <li style="font-size: large;">Sightseeing</li>
                    <li style="font-size: large;">Cab</li>
                    <li style="font-size: large;">Ferry</li>
                    <li style="font-size: large;">Coordinator</li>
                   

                    <br>
                    <br>
                    
                    <h2>Terms and conditions: </h2><br>
                    <li style="font-size: large;">50% payment on booking and remaining 50% payment on arrival at Port Blair before the 
                        commencement of tour</li>
                    <li style="font-size: large;">We will not be responsible for any cancellation of ferry to Havelock/ Neil / Port Blair due to 
                        weather conditions or any unforeseen events.</li>
                    <li style="font-size: large;">We will not be responsible for the closure of any museum or any sightseeing place due to public 
                        holidays or any unforeseen events.</li>
                    <li style="font-size: large;">All itineraries are sample itineraries, intended to give you a general idea of the likely trip 
                        schedule. Numerous factors such as weather, road conditions, lockdown in city or curfew the 
                        physical ability of the participants etc. may dictate itinerary changes either before the tour or 
                        while on the trail. We reserve the right to change any schedule in the interest of the trip 
                        participants' safety, comfort & general well-being. </li>
                    <li style="font-size: large;">We shall not be responsible for any delays & alterations in the programme or expenses incurred - 
                        directly or indirectly - due to natural hazards, flight cancellations, accident, breakdown of 
                        machinery or equipment, breakdown of transport, weather, sickness, landslides, political 
                        closures or any untoward incident</li>

                    <br><br><a href="/book" class="btn">book now</a>

        </div>
    </section>







    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick link</h3>
                <a href="/"> <i class="fas fa-angle-right"></i> home</a>
                <a href="about"> <i class="fas fa-angle-right"></i> about</a>
                <a href="package"> <i class="fas fa-angle-right"></i> package</a>
                <a href="book"> <i class="fas fa-angle-right"></i> book</a>
            </div>

            <div class="box">
                <h3>quick link</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask question</a>
                <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 73057-83768</a>
                <a href="#"><i class="fas fa-envelope"></i> rffm4x@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Tamil Nadu ,India - 600033</a>
            </div>

            <div class="box">
                <h3>Follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>

        </div>

        <div class="credit">credit by <span>Ahmed Bilal </span>|| all rights reserved! </div>

    </section>



    <!--swiper js link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--custom js File-->
    <script src="/javascripts/script.js"></script>
</body>

</html>