<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>package</title>
    <!--Swiper css File-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!--awesome Fonts CDN Link-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--custom css file-->

    <link rel="stylesheet" href="/stylesheets/package.css">

<body>
    <section class="header">

        <a href="/" class="logo">Check-inn Paradise!</a>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="package">package</a>
            <a href="book">book</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>

    <section class="package">
        <h1 class="heading-title">Family package</h1>
        <form action="/book">
            <div class="fam-container">

                <div class="box" name="one">
                    <div class="image">
                        <img src="/images/img-1.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>6 Night & 7 Seven days</h3>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,
                        </p>
                        <a href="/pack1" class="btn">view details</a>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="/images/img-2.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>6 Days & <br> 5 Nights</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,
                        </p>
                        <a href="/pack2" class="btn">view details</a>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="/images/img-3.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>4 Night & <br> 5 Days</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,
                        </p>
                        <a href="/pack3" class="btn">view details</a>
                    </div>
                </div> 
                
                <br>
            </div>
        <h1 class="heading-title">honeymoon package</h1>
            <div class="box-container">
                    <div class="box">
                        <div class="image">
                            <img src="/images/img-4.jpg" alt="">
                        </div>

                        <div class="content">
                            <h3> 2 NIGHTS AND 3 DAYS</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                            <a href="/pack4" class="btn">view details</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="image">
                            <img src="/images/img-5.jpg" alt="">
                        </div>

                        <div class="content">
                            <h3> 4 NIGHTS AND 5 DAYS </h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                            <a href="/pack5" class="btn">view details</a>
                        </div>
                    </div>

                
                </div>

        <h1 class="heading-title">vaccation package</h1>
            <div class="vaccation-container">  
                    <div class="box">
                        <div class="image">
                            <img src="/images/img-7.jpg" alt="">
                        </div>

                        <div class="content">
                            <h3>Ross Island</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                            <a href="/pack6" class="btn">view details</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="image">
                            <img src="/images/img-8.jpg" alt="">
                        </div>

                        <div class="content" name="">
                            <h3>Kalapathar Beach</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                            <a href="/pack7" class="btn">view details</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="image">
                            <img src="/images/img-9.jpg" alt="">
                        </div>

                        <div class="content" name="">
                            <h3>Port Blair</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                            <a href="/pack8" class="btn">view details</a>
                        </div>
                    </div>
                </div>  

            <h1 class="heading-title">friend package</h1>

            <div class="fri-container">
                <div class="box">
                    <div class="image">
                        <img src="/images/img-10.jpg" alt="" style="background-position: top;">
                    </div>

                    <div class="content" name="">
                        <h3> 3 NIGHTS AND 4 DAYS </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae saepe accusamus,</p>
                        <a href="/pack9" class="btn">view details</a>
                    </div>
                </div>

    
            </div>
            

        </form>


    </section>



    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick link</h3>
                <a href="/"> <i class="fas fa-angle-right"></i> home</a>
                <a href="about"> <i class="fas fa-angle-right"></i> about</a>
                <a href="package"> <i class="fas fa-angle-right"></i> package</a>
                <a href="book"> <i class="fas fa-angle-right"></i> book</a>
            </div>

            <div class="box">
                <h3>quick link</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask question</a>
                <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 73057-83768</a>
                <a href="#"><i class="fas fa-envelope"></i> rffm4x@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Tamil Nadu ,India - 600033</a>
            </div>

            <div class="box">
                <h3>Follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>

        </div>

        <div class="credit">credit by <span>Ahmed Bilal </span>|| all rights reserved! </div>

    </section>



    <!--swiper js link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--custom js File-->
    <script src="/javascripts/script.js"></script>
</body>

</html>