<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/pack.css">
</head>

<body>


    <section class="header">

        <a href="/" class="logo">Check-inn Paradise!</a>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="package">package</a>
            <a href="book">book</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>







    <section class="pack">
        <div class="box">
            <h1>Greetings from Check-inn Paradise!!! </h1>
            <p>When travellers have Andaman on their vacation list, most of them are inclined 
                towards covering almost everything that can be practically executed in their specified 
                duration. So here comes the uniquely customized itinerary which is the first choice of 
                such travellers. Hop from Port Blair to Havelock to Neil Island and explore the 
                beauties brought to you by the nature right there. Enjoy the cruise rides across these 
                islands in this Island hopping package covering duration of 4 Nights and 5 Days.</p><br><br>
            <h2>COUPLE PACKAGE DETAILS 2 NIGHTS AND 3 DAYS </h2>
            <p style="font-size: 2rem; color: var(--main-color);"><span>No. of room:</span> 2 bed rooms</p><br>
            <p><span>No. Of PAX:<span> 2 pax</p><br>
            <p><span>Meal plan:<span>CP (Breakfast)</p><br>
            <p><span>PACKAGE CODE:<span>“Couple outing”</p><br>
            <h2><span>FAMILY PACKAGES JUST FOR</span> –9999/-(Per Person)  </h2>    
            <br>
            <br>
            <h1 style="color: red;"> Day 1: Airport Pickup. Later Carbyns Cove Beach, Cellular Jail Visit & Light and Sound Show </h1>
            <br>
            <br>
            <p>Arrive at Port Blair in the morning/afternoon by flight and our representative will be 
                waiting outside the airport holding a placard with your name on it. You will be taken 
                to your hotel where you rest and relax. Later we proceed to Corbyn's Cove. Coastal 
                drive to this beach is awesome, a stretch of around 4 Km with an open sea towards 
                your left is a sight to experience. 
                Take pit stops during this ride to click pictures and to explore the beauty. Later 
                proceed to attend the enthralling Sound and Light Show at Cellular Jail - where the 
                heroic saga of the Indian freedom struggle is brought alive. A light and sound show 
                gets conducted inside the Cellular Jail explaining the rich history and struggles of the 
                freedom fightersin the jail. 
                Post completion of this trip, we attend and drop you back at your hotel. 
                </p>
            <h1 style="color: red;">Day 2: Ross and North Bay Island Boat Ride Tour</h1>
            <br>
            <p>Let's get back in time to visit the first Administrative settlement of the Britishers in the 
                Andaman Islands, Ross Island. Earlier, said as the Paris of the past. This island 
                today has ruins of all the luxury the Britishers had during that time. 
                Visit this amazing destination and move forward on a boat to visit the Coral Island of 
                Port Blair, North Bay Island. 
                Infringe with rich marine life this island is the other most visited destination in 
                Andaman. Scuba Diving, Sea Walk, Snorkeling and Glass boat ride can be done 
                here. Upon Return from these famous destinations rest and relax.</p>

            <h1 style="color: red;">Day 3: Drop to the Airport</h1>
            <br>

            <p>Check out from the hotel and proceed to the airport to return home with sweet 
                memories of this exotic destination. 
                Do note that hotels have an early check-out time. Guest will need to keep their 
                luggage in the reception kiosk if your scheduled flight is in the afternoon. If you wish 
                to visit any attraction during your free time then do let us know</p>

                    <br>
                    <br>
                    
                    <h2>Terms and conditions: </h2><br>
                    <li style="font-size: large;">50% payment on booking and remaining 50% payment on arrival at Port Blair before the 
                        commencement of tour</li>
                    <li style="font-size: large;">We will not be responsible for any cancellation of ferry to Havelock/ Neil / Port Blair due to 
                        weather conditions or any unforeseen events.</li>
                    <li style="font-size: large;">We will not be responsible for the closure of any museum or any sightseeing place due to public 
                        holidays or any unforeseen events.</li>
                    <li style="font-size: large;">All itineraries are sample itineraries, intended to give you a general idea of the likely trip 
                        schedule. Numerous factors such as weather, road conditions, lockdown in city or curfew the 
                        physical ability of the participants etc. may dictate itinerary changes either before the tour or 
                        while on the trail. We reserve the right to change any schedule in the interest of the trip 
                        participants' safety, comfort & general well-being. </li>
                    <li style="font-size: large;">We shall not be responsible for any delays & alterations in the programme or expenses incurred - 
                        directly or indirectly - due to natural hazards, flight cancellations, accident, breakdown of 
                        machinery or equipment, breakdown of transport, weather, sickness, landslides, political 
                        closures or any untoward incident</li>

                    <br><br><a href="/book" class="btn">book now</a>

        </div>
    </section>







    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick link</h3>
                <a href="/"> <i class="fas fa-angle-right"></i> home</a>
                <a href="about"> <i class="fas fa-angle-right"></i> about</a>
                <a href="package"> <i class="fas fa-angle-right"></i> package</a>
                <a href="book"> <i class="fas fa-angle-right"></i> book</a>
            </div>

            <div class="box">
                <h3>quick link</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask question</a>
                <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 73057-83768</a>
                <a href="#"><i class="fas fa-envelope"></i> rffm4x@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Tamil Nadu ,India - 600033</a>
            </div>

            <div class="box">
                <h3>Follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>

        </div>

        <div class="credit">credit by <span>Ahmed Bilal </span>|| all rights reserved! </div>

    </section>



    <!--swiper js link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--custom js File-->
    <script src="/javascripts/script.js"></script>
</body>

</html>